* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  padding: 30px;
  margin: auto;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-enter {
  transform: translateX(-100vw);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 250ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-100vw);
  transition: all 250ms ease-in;
}

.page__wrapper {
  display: flex;
  margin-top: 15px;
  gap: 10px;
}
.page {
  cursor: pointer;
  padding: 5px;
  flex: 30px 1 1;
  display: block;
  border: 1px solid teal;
  text-align: center;
}
.page__current {
  border: 1px solid orange;
}

.navbar {
  height: 50px;
  width: 100%;
  gap: 30px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: #eee;
}

.navbar__links {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.navbar__links a {
  text-decoration: none;
  color: black;
}
.navbar__links a:hover {
  color: teal;
}
